In [5]:
s = "Hi There"

In [6]:
for i in s:
    print(i)

H
i

T
h
e
r
e

In [12]:
list1 =[2,4,6,8,10]
for num in list1:
    if num % 2 == 0:
        print(num)  
    else:
        break

In [13]:
list_sum = 0 
list1=[1,2,3,4,5,6,7,8,9,10]
for num in list1:
    list_sum = list_sum + num

print(list_sum)

30

In [58]:
s = "hi there"

for i in s:
    if i=='r':
        print("Find")
        
    else:
        print(i)
        break

h

In [ ]:
L = [1,2,3]

In [11]:
list_sum = 0 
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    list_sum += num

print(list_sum)

55

In [1]:
i = 0 
while i<5:
    print(i)
    i =i+1

0
1
2
3
4

In [8]:
s = "hi there"
for i in s:
    print(i)

h
i

t
h
e
r
e

In [17]:
s = "hi there"
i =0
while i<len(s):
    print(s[i])
    i += 1

h
i

t
h
e
r
e

In [18]:
l = [1,'hi',2,7]
i =0
while i<len(l):
    print(l[i])
    i +=1

1
hi
2
7

In [19]:
l =[1,'hi',2,7]
for i in l:
    print(i)

1
hi
2
7

In [24]:
l =[1,'hi',2,7]
for i in range(len(l)):
    print(l[i])

1
hi
2
7

In [3]:
a =153
b = a//100
print(b)

1

In [12]:
for i in range(1001):
    num = i
    result =0
    n = len(str(i))
    while(i!=0):
        digit = i%10
        result = result+digit**n
        i =i//10
    if num==result:
        print(result)

0
1
2
3
4
5
6
7
8
9
153
370
371
407

In [81]:
n = int(input("enter the number:"))

for i in range(1,n+1,):
    
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234

In [34]:
n = int(input("enter the number:"))
for row in range(n):
    for col in range(n):
        if col==0 or row == (n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

*
**
* *
*  *
*****

In [38]:
import math
n = int(input("Enter the number:"))
result = math.factorial(n)
print("factorial of",n,"is",result)

factorial of 10 is 3628800

In [39]:
n = int(input("Enter the Number:"))
for row in range(n):
    for col in range(n):
        if row==0 or row==col or col==4:
            print("*",end="")
        else:
            print(end=" ") 
    print()

*****
 *  *
  * *
   **
    *

In [82]:
n = int(input("Enter the number:"))
num = 1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end=" ")
        num = num+1
    print()

1
2 3
4 5 6
7 8 9 10

In [89]:
n = int(input("Enter the nuber:"))
first = 0
second = 1
for i in range(n):
    temp = first
    first = second
    second = temp+first
    print(second)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [3]:
l =[10,2.7,'A','hi']
print(l[:4])

[10, 2.7, 'A', 'hi']

In [23]:
def add(a,b):
    add_num = a+b
    return add_num
n1 = int(input("Enter the n1:"))
n2 = int(input("Enter the n2:"))
total = add(n1,n2)
print(total)

108

In [16]:
num = int(input("Enter the positive number to check its prime or not:"))
if num>1:
    for i in range(2,num):
        if num%i ==0:
            print(num,"is not a prime number")
            break
        else:
         print(num,"is a prime number") 
         break
      
else:
    print(num,"is not a prime number")

11 is a prime number

In [24]:
def replace_x(word):
    vowels = "aeiouAEIOU"
    result = ''
    for char in word:
        if char in vowels:
            result += "x"
        else:
            result += char


    return result        

word = 'kanishk '
result = replace_x(word)
print(result)

kxnxshk

In [22]:
def third_max(nums):
    distinct_nums = list(set(nums))
    distinct_nums.sort(reverse=True)
    if len(distinct_nums)>=6:
        return distinct_nums[-1]
    else:
        return distinct_nums[0]
    

nums =[89,45,67,34,56,72]
result = third_max(nums)
print(result)

34